html,
body {
  height: fit-content;
  width: 100%;
} /* background */
#backgroundPic {
  display: flex;
  background-image: url("./pictures/SpidermanReadingTwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
