html,
body {
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
} /* background */
#backgroundPic {
  display: flex;
  background-image: url("./pictures/indexpagepics/SpidermanReadingTwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
}

@media (max-width: 260px) and (max-width: 576px) {
  .blockquote {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
  }
}

@media (min-width: 900px) {
  #backgroundPic {
    height: 975px;
  }
}
