.section-signup {
  padding-top: 20vh;
}

.section {
  padding: 70px 0;
  position: relative;
  background: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
}

/* card */
[data-background-color]:not([data-background-color="gray"])
  .card[data-background-color="blue"] {
  background-color: #2ca8ff;
}

.card-signup {
  max-width: 350px;
  margin: 0 auto;
}

.card {
  display: inline-block;
  flex-direction: column;
  min-width: 0;
  border-bottom-right-radius: 3.75px;
  border-bottom-right-radius: 3.75px;
  border-image-repeat: stretch;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px 0px;
  background-clip: border-box;
  font-size: 14px;
  font-weight: 400;
  height: 499px;
  line-height: 21px;
  margin: 0px 185px 185px 0px;
  max-width: 350px;
}

.formSU {
  margin-top: 0em;
  box-sizing: border-box;
  color: rgb(9, 208, 180);
  display: block;
  width: 350px;
  height: 489px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
}

/* top card header */
.card-signup .card-header {
  margin: 0 20px 20px 0px;
  padding: 30px 0px 0px 30px;
  font-size: 14px;
  font-weight: 400;
  height: 202.5px;
  line-height: 21px;
}

.card .card-header {
  background-color: transparent;
  padding: 0;
  border-bottom: 0;
  border-radius: 0;
}
.text-center {
  text-align: center !important;
}

.card-signup .card-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: 25.55px;
  font-weight: 400;
  height: 35.5px;
  line-height: 35.77px;
  margin-block-end: 15px;
  margin-block-start: 15px;

  margin-inline-end: 0px;
  margin-inline-start: 0px;

  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: uppercase;
  width: 310px;
}

/* media Queries */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
