.titleG {
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex-basis: auto;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center !important;
}

.JumboTitleOne {
  display: flex;
  color: #ffffff;
  width: 100%;
  z-index: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 30px;
  margin-top: 5rem;
}

#GamesJumbo {
  background-image: url("../../pictures/gamepagepics/blackboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  margin: 0px;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}

#h1G {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 40px;
  z-index: 2;
  font-family: "Chakra Petch", sans-serif;
}

@media (min-width: 768px) {
  .JumboTitleOne {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  #h1G {
    font-size: 30px;
  }
}

@media (max-width: 1100px) and (min-width: 926px) {
  #GamesJumbo {
    height: 350px;
  }
}

@media (max-width: 925px) {
  #GamesJumbo {
    height: 300px;
  }
}
