.sectionAU {
  padding-top: 70px;
  padding-right: 0px;
  padding-bottom: 70px;
  padding-left: 0px;
  position: relative;
  background: rgb(236, 7, 7);
  bottom: 0px;
}
.containerAU {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rowAU {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.textcenterAU {
  text-align: center !important;
}

.ml-auto,
.mr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
