.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 70px 0;
  position: relative;
  background: #fff;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  height: 511.5px;
  width: 960px;
}

.title {
  font-weight: 700;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.5em;
  line-height: 1.2;
}

.team {
  box-sizing: border-box;
}

.team-player {
  margin-bottom: 15px;
}

.rounded-circle {
  max-width: 80px;
  max-height: 100px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
