.conTS {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.secTS {
  padding: 70px 0;
  position: relative;
  background: #fff;
  text-align: center;
}

.rowTS {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.title {
  font-weight: 700;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.5em;
  line-height: 1.2;
}

.team {
  box-sizing: border-box;
}

.team-player {
  margin-bottom: 15px;
}

.rounded-circle {
  max-width: 100px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
  vertical-align: middle;
  box-sizing: border-box;
}
