.sectionAU {
  padding-top: 70px;
  padding-right: 0px;
  padding-bottom: 70px;
  padding-left: 0px;
  position: relative;
  background: transparent;
  bottom: 0px;
}
.containerAU {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rowAU {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-centerAU {
  text-align: center !important;
}

.ml-auto,
.mr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.col-md-5 > .image-container.image-right {
  position: relative;
  width: 535px;
  padding-right: 15px;
  padding-left: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.titleAU {
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 2.5em;
  line-height: 1.2;
  margin-top: 0;
  display: block;
  color: black;
  /* font-family: ; */
}

/* Our story Section */
.section-story-overview .image-container.image-left {
  z-index: 1;
}
.section-story-overview {
  padding: 50px 0;
}

.section-story-overview .image-container {
  height: 335px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.section-story-overview .image-container:nth-child(2) {
  margin-top: 420px;
  margin-left: -105px;
}

.section-story-overview .image-container.image-right {
  z-index: 2;
}

.hThreeAu {
  font-size: 1.825em;
  line-height: 1.4em;
  margin-bottom: 30px;
  font-weight: 400;
  margin-top: 0;
  display: block;
}

.section-story-overview p.blockquote {
  width: 220px;
  min-height: 180px;
  text-align: left;
  position: absolute;
  top: 376px;
  right: 155px;
  z-index: 0;
}

.blockquote.blockquote-info {
  border-color: #2ca8ff;
  color: #2ca8ff;
}
.blockquote {
  border: 1px solid #888;
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.8;
}

.blockparagraph {
  font-weight: 300;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .image-container.image-right {
    top: 80px;
    margin-left: -100px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .image-container.image-left {
    margin-right: -100px;
  }
}

.learningP {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 22px;
  letter-spacing: 0;
  margin: 0 0 16px;
  padding-top: 3.5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-weight: 400;
  line-height: 24px;
  margin-left: 600px;

  width: 400px;
}
