.social-footer {
  width: 100%;
  margin: 0;
  /* margin-top: 45px; */
  z-index: 1;
}

.social-footer div {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  z-index: 1;
}

.btn.btn-icon {
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
}

.btn-info {
  background-color: #2ca8ff;
  color: #fff;
}

.cardBody {
  padding: 0px;
}
#rowfooter {
  background-color: transparent;
  background-attachment: fixed;
  position: relative;
  margin-top: 70px;
  display: block;
  bottom: 0em;
}
#H5text {
  font-weight: 500;
  align-items: center;
  color: white;
  text-align: center;
}

.cardBody {
  font-size: 0.8571em;
  color: #fff;
}

#Spacer {
  height: 30px;
  display: block;
}

#sm-12SocialFooter {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  height: 100px;
  top: 200px;
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (max-width: 798px) and (min-width: 576px) {
  #sm-12SocialFooter {
    position: absolute;
    top: 150px;
  }
}

@media (max-width: 576px) and (min-width: 100px) {
  #sm-12SocialFooter {
    position: absolute;
    top: 120px;
  }
}

@media (min-width: 765px) {
  #sm-12SocialFooter {
    position: absolute;
    top: 200px;
  }
}
