.social-footer {
    position: relative;
    /* bottom: 0; */
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
}

.footer-href {
    color: black;
    text-align: center;
}

.footer-href:hover {
    color: white;
}

.social-footer div {
text-align: center;
/* display: flex; */
justify-content: center;
}