/* .block {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(252, 251, 251); */
  /* position: absolute; */

  /*   
  text-align: center;
  color: #fff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px; */
}

#scrabble {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

.text {
  font-size: 28px;
  font-weight: 100;

  color: #fafafa;
}

.dud {
  color: #757575;
}
