.mdl-layout__header {
  color: white;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}
.mdl-navigation__link {
  font-size: 18px;
  font-weight: 550;
  font-family: "Chakra Petch", sans-serif;
}
.mdl-layout__header .mdl-layout__drawer-button {
  position: absolute;
  color: white;
  background-color: inherit;
}
.mdl-layout-title {
  font-family: "Chakra Petch", sans-serif;
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 600;
  box-sizing: border-box;
}
