/* #footer {
  display: flex;
  flex-direction: row;
  color: transparent;
  box-sizing: border-box;
  padding: 24px 0; */

.footer-big p {
  color: #9a9a9a;
  font-weight: 300;
}

/* footer */

#footer {
  display: block;
  width: 100%;
  background-color: rgb(9, 236, 236);
  color: black;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

footer h3 {
  margin-bottom: 30px;
  text-align: center;
}
#footerFlex {
  margin: auto;
}

footer .footer-above {
  padding-top: 20px;
  text-align: center;
}

.footer-above {
  display: flex;
}

footer .footer-col {
  margin-bottom: 30px;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  align-content: center;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: rgb(5, 5, 5);
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
}

#linksColor > ul > li {
  font-family: "Amatic SC", cursive;
  color: black;
  /* color: white; */
  font-size: 25px;
  padding: 0rem;
}
