.pageHeader .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.pageHeader {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #e61010;
  position: relative;
  overflow: hidden;
}

.textCenter {
  text-align: center !important;
}

.columnL {
  margin-left: 0px !important;
  margin-right: 0px !important;
  -ms-flex: 0 0 43.333333%;
  flex: 0 0 43.333333%;
  max-width: 43.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.loginPage .cardlogin {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px;
}

/* card */
.cardPlain {
  background: transparent;
  box-shadow: none;
}

.card {
  border: 0px;
  display: inline-block;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  border-bottom-right-radius: 3.75px;
  border-bottom-right-radius: 3.75px;
  border-image-repeat: stretch;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px 0px;
  background-clip: border-box;
  margin-bottom: 30px;
  height: 499px;

  margin: 0px 185px 0px 185px;
  max-width: 350px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: flex-start;
  margin-right: -15px;
  margin-left: -15px;
  text-align: left;
} */

/* card */
/* [data-background-color]:not([data-background-color="gray"])
  .card[data-background-color="blue"] {
  background-color: #2ca8ff;
}

.cardSignup {
  max-width: 350px;
  margin: 0 auto;
}

. */

/* forms */
.formL {
  background-color: rgb(99, 199, 32);
  margin-top: 0em;
  box-sizing: border-box;
  color: rgb(111, 116, 115);
  display: block;
  width: 350px;
  height: 499px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
}
.inputGroupText {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;

  color: #fff;
  border-left: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.input {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
  background-clip: padding-box;
  height: auto;
  line-height: normal;
  font-size: 0.8571em;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 11px 19px;
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  font-size: 14.9994px;
  font-stretch: 100%;
}

.inputGroup {
  margin-bottom: 10px;
  position: relative;
  border: transparent;
  border-radius: 25px;
  border-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  align-items: stretch;
  text-align: left;
  text-size-adjust: 100%;
}

.inputGroupText i {
  width: 17px;
  color: #fff;
}

/* top card header */
.cardHeader {
  margin: 0 20px 0px 20px;
  padding: 30px 0px 30px 0px;
  font-size: 14px;
  font-weight: 400;
  height: 202.5px;
  line-height: 21px;
}

.card .cardHeader {
  background-color: transparent;
  border-bottom: 0;
  border-radius: 0;
}

.titleUp {
  text-transform: uppercase;
}

.cardTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* .cardHeader {
  background-color: transparent;
  border-bottom: 0;
} */

.cardBody {
  font-family: "Chakra Petch", sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  min-height: auto;
  flex: 1 1 auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  flex-basis: auto;
}
[data-background-color]:not([data-background-color="gray"]) {
  color: #fff;
}
/* 
h3 {
  font-size: 25.55px;
  font-weight: 400;
  height: 35.5px;
  line-height: 35.77px;
  margin-block-end: 15px;
  margin-block-start: 15px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: uppercase;
  width: 310px;
} */
/* 
.btnneutral {
  background-color: #fff;
}

.btn {
  font-weight: 400;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.btninfo {
  background-color: white;
  color: #2ca8ff;
}

.btnround {
  border-width: 1px;
  border-radius: 30px !important;
} */

/* 
.cardFooter {
  border: 0;
  background-color: transparent;
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  margin-bottom: 10px;
  margin-top: 24px;
  padding: 24px 0;
  color: #fff;
} */

/* background overlay */
.clear-filter[filter-color="blue"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.2),
    rgba(3, 161, 224, 0.6)
  );
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.2),
    rgba(3, 161, 224, 0.6)
  );
}

/* media Queries */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .columnL {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
